.card{
    border-color: #FFB200;
    border-width: 4px;
    border-radius: 25px;
    background-color: #FFF4CF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.card-body{
    height: 350px;
    font-size: 12px;
    margin: 20px 40px 10px 40px;
}

.card-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.logo{
    position: absolute;
    top: 55px;
    width: 100px;
    height: 100px;
    z-index: 1;
    border-color: #FFB200;
    border-width: 4px;
    background-color: #FFF4CF;
    border-style: solid;
    border-radius: 50%;
}

.login{
    background-color: #FFB200;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    width: 100%; 
}

#email, #password{
    background-color: white;
    border-radius: 1px;
    border-style: none;
    height: 45px;
}

input::placeholder{
    font-family: 'Montserrat', sans-serif;
    padding-left: 7px;
}

.input-group-text{
    background-color: white;
    height: 45px;
    border-radius: 1px;
    border-style: none;
    padding: 13px;
}

.vr{
    border-left: 1px solid black;
    border-color: #FFB200;
    height: 30px;
    position: relative;
    z-index: 1;
    top: 7px;
}