@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
  --color-default:#FFCB42;
  --color-second:#FFF4CF;
  --color-secondTrans: rgba(255, 255, 255, .75);
  --color-body:#e4e9f7;
  --color-lightGray:#F5F5F5;
  
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #555555;
  --first-color-light: #777777;
  --white-color: #F7F6FB;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

#body-pd{
    margin: 0;
    padding: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}

.lunad_UI {
  position: fixed;
  z-index: 9999;
}

.logo{
    text-decoration: none;
    background-color: #FFF4CF;
}

a {
    text-decoration: none!important;
    color: var(--first-color)!important;
}

.p {
    font-size:14px;
}
.navbar-toggler{
    background-color: #fff9e7;
}
.map-select{
  font-family: 'Roboto', sans-serif;
  background-color: white!important;
  border: none!important;
  color: var(--first-color)!important;
  font-size: 14px!important;
}
.map-select:hover{
  background-color: var(--color-default)!important;
  color: #000000!important;
}
.map-select:active{
  background-color: var(--color-second)!important;
  color: #000000!important;
}
.map-select:focus{
  background-color: var(--color-second)!important;
  border: var(--first-color) 2px solid!important;
  color: #000000!important;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .5s;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--color-secondTrans);
  backdrop-filter: blur(5px);
  transition: .5s;
  z-index: var(--z-fixed);
}


.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.navbar_nav{
  color: var(--first-color)
}

.saved_routes,
.route_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.saved_routes{
  font-family: 'Montserrat', sans-serif!important;
  background-color: var(--color-default);
  border-bottom: white 2px solid;
  color: var(--first-color);
}

.route_link {
  position: relative;
  color: var(--first-color);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.route_link:hover {
  color: var(--color-default);
}

.nav_icon {
  font-size: 1.25rem;
}

.user_icon {
  font-size: 1.25rem;
}

.user_text {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.user_bar{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  background-color: var(--color-second);
  border-top: white 2px solid;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.height-100 {
  height: 100vh;
}

@media screen and (min-width: 768px) {
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .l-navbar {
        left: 0;
    }

    .show {
        width: calc(var(--nav-width) + 176px);
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 198px);
    }
}